---
import Layout from '@layouts/Layout.astro';
const gh = 'https://github.com/jws-playgrounds/webgl-learn-4';
const title = 'webgl-learn-4';
---

<Layout pageId='top' gh={gh} title={title}>
  <div id='webgl'></div>
</Layout>
